.post__item {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1rem;
    }

    .edit__delete__controls{
      svg {
        width: 28px;
        height: 28px;
        cursor: pointer;
      }

      & > svg {
        margin-right: 15px;
      }
    }
  }
  