html{
    height: 100vh;
    margin: 0;
    padding: 0;
}
    
body, #root, .challenge__app{
    height: 100%;
}

.challenge__app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
