.form__group {
    margin-bottom: 1rem;

    label {
      display: block;
      font-weight: bold;
    }

    input {
      width: 96%;
      padding: 0.5rem ;
      margin-top: 0.25rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
}